<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laeb.laebproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".LeabApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LanguageActivity">

        </activity>
        <activity android:name=".AddNumberActivity" />
        <activity android:name=".VerificationCodeActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity"></activity>
        <!-- <activity android:name=".UpComingGamesActivity" /> -->
        <activity android:name=".CreateFieldActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJB5NeoNB3p_F1-JoSXqGHS2fDPa_PV2g" />

        <activity android:name=".BookingActivity" />
        <activity
            android:name=".MenuActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".CreateTeamActivity"></activity>
        <activity android:name=".InviteFriendActivity" />
        <activity android:name=".YourTeamActivity"></activity>
        <activity android:name=".YourScheduleActivity" />
        <activity android:name=".InvitePlayerActivity"></activity>
    </application>

</manifest>